.BgImage1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topTitle {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.topHr1 {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.topHr2 {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgContainer {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.contentDiv {
    margin: auto;
    margin-top: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white !important;
    padding: 10px;
}

.homeIntro1 {
    color: white !important;
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}

.content {
    color: white !important;
    font-size: 20px;
    margin-top: 20px;
    width: 60%;
    margin: auto;
}

.slowScrollDiv {
    transition: transform 0.5s ease-in-out;
}

.splitSection {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img1 {
    width: 50%;
    height: 700px;
    object-fit: cover;
    border-radius: 20px;
}

.img2 {
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.imgYtDiv {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content: space-around;
}

.BgImage2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}

.gradient-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;
  }
  
  .bifrostVideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
  
  .infoDiv {
    margin-top: 50px;
    padding: 20px 40px;
    border-radius: 20px;
  }

  .downloadDiv {
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .downloadBtn {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #990000;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .downloadBtn:hover {
    background-color: #ff0000;
  }